body {
	font-family: Arial, Helvetica, sans-serif;
	text-align:center;
}

.feed {
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

.feed .header .logo {
	float:left; 
	padding: 10px;
}

.feed .header .site-name {
	float:left; 
}
.feed .header .site-name h1{
	font-size: 1.4em;
}


.feed .explain {
	border: solid thin black; 
	padding: 10px;
	background-color:#FFFFCC;
}

.feed .elements {
	width: 60%;
	float:left;
	border: solid 1px #999;
	padding: 20px;
} 

.feed .sidebar {
	width: 30%; 
	float:right;
} 

.feed .footer {
	padding: 30px;
} 




